@import 'normalise.css';
@import 'flexboxgrid.css';
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,600,800|Roboto:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Poppins:400|600');
.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.modal-back {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.74);
}
.col-xs-1-2 {
  -ms-flex-preferred-size: 4.1666%;
  flex-basis: 4.1666%;
  max-width: 4.1666%;
}
.col-xs-1-4 {
  -ms-flex-preferred-size: 2.0833%;
  flex-basis: 2.0833%;
  max-width: 2.0833%;
}
.stuck-top {
  position: fixed;
  top: 0;
  z-index: 5;
}
.stuck-bottom {
  position: fixed;
  overflow: auto;
}
.stuck-bottom.height-70 {
  min-height: 70%;
}
.stuck-bottom.height-100 {
  max-height: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background: #d6d6d6;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}
.row {
  width: 100%;
}
.col-xs-0 {
  display: none;
}
.or {
  display: inline;
}
.logo-inner {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
  padding: 0 1em;
}
.searchBox {
  border-radius: .2em;
}
.searchBar {
  padding: .4em .25em;
  width: 100%;
  display: flex;
}
.searchBar * {
  display: flex;
}
.searchBar .first-setting--searchBar {
  margin-left: auto;
}
.searchBar .icon-holder.for-input {
  background: #f6f6f6;
  border-radius: 0 .25em .25em 0;
}
.searchBar input {
  border-radius: 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(243, 243, 243, 0.6);
  padding: .3em;
  font-size: 120%;
  color: #f6f6f6;
}
.searchBar input::placeholder {
  color: rgba(250, 250, 250, 0.5);
}
.searchBar .icon-holder.for-input {
  border-radius: 0;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid rgba(243, 243, 243, 0.6);
}
.searchBar .icon-holder.for-input i {
  color: rgba(243, 243, 243, 0.6);
}
.searchBar .icon-holder.for-input:hover {
  background: rgba(100, 100, 100, 0.8);
}
.searchBar .icon-holder.for-input:hover i,
.searchBar .icon-holder.for-input:active i,
.searchBar .icon-holder.for-input:hover .icon,
.searchBar .icon-holder.for-input:active .icon {
  color: #f6f6f6;
}
.searchBar .icon-holder.for-input:active {
  background: rgba(243, 243, 243, 0.6);
}
.searchBar button.for-input {
  transition: .3s all;
}
.searchBar button.for-input:hover {
  background: #4dc2ff;
  border: 1px solid #4dc2ff;
}
.searchBar button.for-input:hover .icon,
.searchBar button.for-input:active .icon {
  color: #f6f6f6;
}
.searchBar button.for-input:active {
  background: #0097e6;
  border: 1px solid #0097e6;
}
.for-input {
  transition: .3s all;
}
.for-input p {
  color: #aaa;
  display: inline;
  font-weight: 700;
}
.for-input:hover {
  background: #4dc2ff;
}
.for-input:hover p,
.for-input:active p {
  color: #282828;
}
.for-input:hover i,
.for-input:active i,
.for-input:hover .icon,
.for-input:active .icon {
  color: #f6f6f6;
}
.for-input:active {
  background: #0097e6;
}
.searchBar.isMobile .col-xs-* {
  padding-right: 0;
  padding-left: 0;
}
.searchBar.isMobile .fa-cogs {
  padding: 0 0.5em;
}
.active-outer {
  transition: .1s all;
  justify-content: center;
}
.active-outer .icon {
  color: #f6f6f6;
  font-size: x-large;
}
.active-outer .icon p {
  display: none;
}
.active-outer:hover .icon {
  background: #515445;
  border-radius: .35em;
}
.active-outer button {
  background: transparent;
  border: 0;
}
.icon-holder.for-input {
  justify-content: center;
  display: flex;
  padding: 0 .5em;
  border: 2px solid #fafafa;
}
.icon-holder.for-input .icon {
  display: flex;
  color: #0097e6;
}
.total-price {
  align-self: center;
  padding: 0 1.5em;
  font-weight: 700;
  font-size: smaller;
  color: #969696;
}
button[class^="button-"] {
  border: 1px solid rgba(200, 200, 200, 0.9);
  border-radius: .25em;
  transition: .3s all;
}
button[class^="button-"]:hover {
  background: rgba(50, 50, 50, 0.3);
}
button[class^="button-"]:hover i {
  color: white;
}
button[class^="button-"]:active {
  background: rgba(50, 50, 50, 0.6);
}
button[class^="button-"]:active i {
  color: white;
}
button {
  cursor: pointer;
}
button,
button i {
  transition: .1s all;
}
button.success,
a.success {
  background: lightgreen;
  color: #f6f6f6;
}
button.success i,
a.success i {
  color: white;
}
button.success:hover,
a.success:hover {
  background: #64e764;
}
button.success:active,
a.success:active {
  background: #38e038;
}
button.pip,
a.pip {
  border: 0;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 2em;
  color: #777 !important;
  margin-left: auto;
}
button.light,
a.light {
  background: transparent;
  color: #888;
  font-weight: 700;
}
button.light i,
a.light i {
  color: #888;
}
button.light:hover,
a.light:hover {
  background: transparent;
  color: #2a2a2a;
}
button.light:hover i,
a.light:hover i {
  color: #2a2a2a;
}
button.button-remove,
a.button-remove {
  color: #e84118;
}
button.button-remove.light,
a.button-remove.light {
  font-size: smaller;
  background: transparent;
  color: #aaa;
  border: 1px solid #e84118;
}
button.button-remove.light i,
a.button-remove.light i {
  color: #aaa;
}
button.button-remove.light:hover,
a.button-remove.light:hover {
  background: transparent;
  color: #282828;
}
button.button-remove.light:hover i,
a.button-remove.light:hover i {
  color: #282828;
}
button.button-remove i,
a.button-remove i {
  color: inherit;
}
.react-autosuggest__container {
  position: relative;
  width: 100%;
}
.react-autosuggest__input {
  width: 100%;
  padding: 1em 0 1em .5em;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: .25em 0 0 .25em;
}
.react-autosuggest__input--focused {
  outline: none;
}
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-container {
  display: none;
}
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 90%;
  width: 95vw;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}
.react-autosuggest__suggestion {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: .25em;
}
.react-autosuggest__suggestion a {
  text-decoration: none;
}
.react-autosuggest__suggestion p,
.react-autosuggest__suggestion h3,
.react-autosuggest__suggestion i,
.react-autosuggest__suggestion span {
  color: #36382e;
}
.react-autosuggest__suggestion i {
  color: #0097e6;
}
.react-autosuggest__suggestion .type {
  padding: 0 1em;
}
.react-autosuggest__suggestion .suggestion-content-wrapper {
  width: 100%;
  display: inline-block;
}
.react-autosuggest__suggestion .suggestion-content-wrapper .title {
  font-weight: 700;
}
.react-autosuggest__suggestion .suggestion-content-wrapper p {
  text-align: left;
  padding: 0;
  margin: .5em 0;
}
.react-autosuggest__suggestion .suggestion-content-wrapper p span {
  height: fit-content;
  padding: 0 1em;
  background: #0097e6;
  text-transform: uppercase;
  font-size: small;
  color: white;
  padding: .25em;
  border-radius: .25em;
  margin-left: auto;
}
.react-autosuggest__suggestion .suggestion-content-wrapper p span.unimportant {
  background: #aaa;
}
.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}
.menu-outer {
  position: relative;
}
.menu-settings {
  display: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  width: 10em;
  border-radius: .2em;
  z-index: 5;
  flex-direction: column;
  position: absolute;
  top: 100%;
  text-align: right;
  right: 0;
  background: #ffffff;
}
.menu-settings.menu-open {
  display: flex;
}
.menu-settings .menu-title {
  font-size: 90%;
}
.menu-settings .menu-title p {
  display: inline;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.menu-settings ul {
  padding: 0 0 .5em 0;
  margin: 0em;
  display: block;
  width: fit-content;
  width: 100%;
}
.menu-settings li {
  padding: .5em 1em;
  width: 100%;
}
.menu-settings li a {
  width: 100%;
}
.menu-settings li i {
  padding: 0 tem;
  color: #0097e6;
  width: 25%;
  text-align: center;
}
.menu-settings li:hover {
  background: #ede6e3;
}
.shortcutsBar {
  max-height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-left: 0;
  padding-right: 0;
}
.shortcutsBar .user-title {
  font-weight: 700;
  color: #ede6e3;
  text-align: center;
}
.section-title {
  width: 100%;
  user-select: none;
  font-size: 90%;
}
.section-title p {
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  padding: 0 .5em;
}
.main-shortcuts {
  width: 100%;
  background: #f5f5f5;
}
.main-shortcuts .mobile-shortcut {
  padding: .5em;
}
.main-shortcuts .mobile-shortcut.selected {
  background: #0097e6;
}
.main-shortcuts .mobile-shortcut.selected i {
  color: #ffffff;
}
.main-shortcuts .mobile-shortcut a {
  color: #282828;
  text-decoration: none;
  padding: .5em 0;
}
.main-shortcuts i {
  font-size: 160%;
  width: 100%;
  padding: .2em 0;
  color: #0097e6;
}
.main-shortcuts .row {
  padding: 0;
  margin: 0;
}
.main-shortcuts li a i {
  width: 100%;
}
.main-shortcuts li .item-title {
  display: none;
}
.main-shortcuts .section-title {
  display: none;
}
.button-content-wrap {
  font-weight: 700;
  margin: 0 1em;
  height: 100%;
}
.button-content-wrap p {
  font-size: inherit;
  display: inline-block;
  padding: 0 .75em 0 0;
}
.button-content-wrap i {
  padding: 1em;
}
.shortcutList {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: left;
  border-radius: .2em;
}
.shortcutList ul {
  padding: 0 0 .5em 0;
  margin: 0em;
  display: block;
  width: fit-content;
  width: 100%;
}
.shortcutList li {
  display: block;
  list-style: none;
  width: 100%;
}
.shortcutList li.selected {
  background: #00537F;
}
.shortcutList li a {
  width: 99%;
  padding: .5em .25em;
  color: #ede6e3;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.shortcutList li i {
  padding: 0em;
  color: #0097e6;
  width: 20%;
  text-align: center;
  font-size: medium;
}
.shortcutList li:hover {
  background: #00537F;
}
.desktop-only {
  display: none !important;
}
.actionBox {
  background: #f6f6f6;
  margin: 0;
  border: 1px solid #eee;
}
.actionBox .description-box .react-autosuggest__suggestions-container--open {
  border: 1px solid #eee;
}
.actionBox .description-box .suggestion-content-wrapper .title {
  display: flex;
}
.actionBox .description-box .suggestion-content-wrapper p {
  font-weight: 300;
  font-style: italic;
}
.actionBox .profile-icon {
  padding: .5em 0;
  text-align: center;
  display: inline-block;
  font-size: 130%;
}
.actionBox .profile-icon i {
  color: rgba(100, 100, 100, 0.4);
}
.actionBox .profile-icon p {
  display: inline-block;
  font-size: small;
  color: rgba(100, 100, 100, 0.4);
  font-weight: 700;
  text-transform: uppercase;
}
.actionBox .new-action textarea {
  border: 1px solid #e7e7e7;
  border-radius: .5em;
  width: 100%;
  padding: 1em;
  margin: .5em 0 0 0;
  font-size: 100%;
  height: 4em;
  max-width: 100%;
}
.actionBox .new-action .new-action-tools {
  padding: .5em 0 0 0;
  display: flex;
  justify-content: center;
}
.actionBox .new-action .add {
  transition: .3s all;
  height: 100%;
  padding: 1em;
  color: #282828;
  border-left: 1px solid #eee;
}
.actionBox .new-action .add.button:hover {
  border-left: 1px solid #4dc2ff;
}
.actionBox .new-action .for-save {
  margin-left: auto;
  display: flex;
  border-top: 1px solid #eee;
  padding: .5em .5em;
}
.actionBox .new-action .for-save .button-content-wrap {
  width: 100%;
  margin: 0 1em;
  max-width: 10em;
  font-size: 90%;
  font-weight: 700;
}
.actionBox .new-action .for-input {
  font-size: 70%;
  padding: 1em .25em;
}
.actionBox .new-action .for-input:hover i {
  color: #0076b3;
}
.actionBox .datePickerWrapper {
  width: 6em;
  border-radius: .5em;
  border: 1px solid #eee;
  height: auto;
  padding: 1em 0 1em .5em;
}
.actionBox .datePicker-wrapper {
  display: flex;
}
.actionBox .DayPickerInput {
  width: 13em;
}
.actionBox .add-date + div {
  display: inline-block;
}
.actionBox button.add,
.actionBox .for-save {
  background: none;
  border: 0;
}
.actionBox i {
  padding: .25em;
  font-size: large;
  color: #0097e6;
}
.actionBox .row .inputs .m {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.actionBox .row .inputs .at {
  padding: 1em;
}
.actionBox .address button {
  max-width: 100% ;
}
.actionBox .currency-input,
.actionBox .days-input {
  display: flex;
  background: #fff;
  border-radius: .5em;
  flex: 0;
  border: 1px solid #e7e7e7;
}
.actionBox .currency-input input,
.actionBox .days-input input {
  border-radius: .5em;
  width: 80%;
}
.actionBox .currency-input input[type="number"] {
  width: 9em;
}
.actionBox .label {
  display: flex;
  padding: .5em;
}
.actionBox input[type="number"] {
  height: auto;
  border: 0;
  padding: 1em 0 1em .5em;
  width: 6em;
}
.actionBox input {
  background: #fff;
  padding: 1em 0 1em .5em;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #e7e7e7;
  border-radius: .25em;
  width: 100%;
}
.actionBox textarea {
  min-width: 75%;
  max-width: 100%;
}
.newUserForm {
  display: block;
  width: 100%;
}
.for-save:focus {
  border: 0;
  outline: 0;
}
.for-save .button-content-wrap {
  transition: .3s all;
  display: inline-block;
  border-radius: .5em;
}
.for-save .button-content-wrap p {
  display: inline-block;
  padding: 0 .75em 0 0;
}
.app-content-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}
.app-content-wrapper .app-content {
  min-height: 100vh;
  flex-direction: column;
}
.app-content-wrapper .app-format {
  flex-wrap: inherit;
  height: 100%;
  flex-direction: column;
  flex: 1;
}
.app-content-wrapper .app-format .action-feed,
.app-content-wrapper .app-format .invoice-inspection {
  height: 100%;
  margin: 0;
}
.date-wrapper {
  display: flex;
  padding: 0;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container {
  width: 100%;
}
.react-datepicker-wrapper .react-datepicker__input-container .datePickerWrapper {
  width: 100%;
}
.left-curve-border {
  border-radius: .25em 0 0 .25em;
}
.right-curve-border {
  border-radius: 0 .25em .25em 0;
}
.custom-checkbox {
  width: 4rem;
  position: relative;
  height: 3.25rem;
}
.custom-checkbox input {
  width: 100%;
  height: 100%;
}
.custom-checkbox label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eee;
  border: 1px solid #ddd;
}
.custom-checkbox label:after {
  transition: .1s all;
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  left: 7px;
  border: 3px solid #282828;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  bottom: 50%;
}
.InputFromTo-to {
  display: flex;
  text-align: center;
  justify-content: center;
}
.InputFromTo > div {
  padding: 0;
}
.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 20em;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
}
.checkbox-wrapper {
  display: flex;
  flex: 1;
}
/**
    * Create the hover event of the tick
    */
.custom-checkbox label:hover::after {
  opacity: 0.5;
}
/**
    * Create the checkbox state for the tick
    */
.custom-checkbox label.checked:after {
  opacity: 1;
  margin: 0 auto;
  left: 39%;
}
/* =============================

            Login

=============================== */
.login-wrapper {
  min-height: max-content;
  line-height: auto;
}
.login-wrapper * {
  box-sizing: border-box;
}
.login-wrapper h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2vh;
  line-height: 1em;
}
.login-wrapper.isStandalone {
  background-color: #DFDBE5;
  height: 100%;
}
.login-wrapper .intro-section {
  background: #FDC830;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF9800, #FDC830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2.5em 1em;
  border-radius: 1em;
}
.login-wrapper .intro-section.formal {
  background: #282828;
  line-height: 1em;
  padding: initial;
}
.login-wrapper .intro-section.formal span {
  font-size: 110%;
  color: orange;
}
.login-wrapper .intro-section.formal .site-title {
  font-weight: 600;
  font-size: 3.5vh;
  line-height: 1em;
}
.login-wrapper .intro-section.formal .site-subtitle {
  font-weight: 600;
  line-height: 1em;
}
.login-wrapper .login-section input[type="checkbox"] {
  display: inline-block;
  margin-right: .5em;
  width: AUTO;
}
.login-wrapper .login-section input[type="checkbox"] + .input-label {
  display: inline-block;
}
.login-wrapper .login-section .sign-in-button {
  transition: .5s all;
  border: 0;
  color: white;
  padding: .5em 1em;
  border-radius: .2em;
  font-size: 105%;
  background: #4364d3;
  background-image: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background-image: linear-gradient(to right, #2a8cef, #4568DC);
}
.login-wrapper .login-section .sign-in-button:hover {
  background: #4568DC;
}
.login-wrapper .login-section .sign-in-button:focus {
  background: #2e4694;
}
.login-wrapper .login-section .complete-button {
  transition: .5s all;
  border: 0;
  color: white;
  padding: .5em 1em;
  border-radius: .2em;
  font-size: 105%;
  background: #519548;
  background-image: -webkit-linear-gradient(to right, #519548, #88C425);
  background-image: linear-gradient(to right, #519548, #88C425);
}
.login-wrapper .login-section .complete-button:hover {
  background: #4568DC;
}
.login-wrapper .login-section .complete-button:focus {
  background: #2e4694;
}
.login-wrapper .titles-wrap {
  padding: 2em 1.5em;
}
.login-wrapper .login-description {
  color: #bbb;
  font-weight: 500;
  margin-bottom: 2em;
}
.login-wrapper .login-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #FF9800;
  font-size: 225%;
}
.login-wrapper .site-img {
  display: flex;
  text-align: left;
  padding-bottom: 2em;
}
.login-wrapper .site-img .site-name,
.login-wrapper .site-img img {
  display: inline-block;
  color: white;
}
.login-wrapper .site-img .site-name {
  font-size: 160%;
  width: 80%;
  padding: 0 .25em;
  box-sizing: border-box;
  align-self: center;
  line-height: 1em;
}
.login-wrapper .site-img img {
  max-height: 6em;
}
.login-wrapper .site-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: left;
  font-size: 5vh;
  color: #f6f6f6;
  line-height: 1em;
}
.login-wrapper .site-description {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  line-height: initial;
  color: white;
  padding: 1em 0;
  font-size: 115%;
  line-height: 1em;
}
.login-wrapper .site-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 75%;
  text-align: left;
  color: white;
  align-self: bottom;
}
.login-wrapper .site-subtitle {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  padding-top: .25em;
  font-size: 130%;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.2em;
}
.login-wrapper .description {
  font-size: 90%;
}
.login-wrapper .input-group {
  text-align: left;
  padding: 1em 0;
}
.login-wrapper .input-group .input-label {
  color: #bbb;
  font-weight: 800;
}
.login-wrapper input {
  width: 100%;
  border-radius: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.8);
  padding: .6em;
  font-size: 110%;
  font-weight: 200;
  color: #282828;
  transition: .2s all;
}
.login-wrapper input::placeholder {
  color: rgba(250, 250, 250, 0.5);
}
.login-wrapper input:focus {
  border-bottom: 1px solid rgba(4, 0, 240, 0.8);
}
.navigation-group {
  display: flex;
  padding: .5em 1em;
}
.navigation-point {
  background: #fe9901;
  color: white;
  border-radius: 5em;
  margin: 0 auto;
  padding: .35em 0;
  font-weight: bold;
  font-family: monospace;
  width: 3em;
  font-size: 125%;
}
.navigation-element {
  flex: 1;
}
.login-outer {
  padding: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background: white;
  border-radius: 1em;
  line-height: auto;
  margin: 1em 0;
}
.login-outer .box {
  line-height: initial;
}
/*==============================

            Action Feed

===============================*/
.action-feed {
  background: #ccc;
  flex: 1;
  overflow: auto;
  width: 100%;
}
.action-feed.menu-padding {
  margin-bottom: 15em;
}
.feed-element {
  transition: .2s all;
  background: #fcfcfc;
  text-align: left;
  padding: 0 1em;
  border: 1px solid #eee;
  border-left: .3em solid #eee;
  margin: .3em 0;
}
.feed-element.selected {
  border-left: 0.3em solid #FF981D;
}
.feed-element.withJob {
  border-left: .3em solid lightgreen;
}
.feed-element.withJob .price {
  color: lightgreen;
}
.feed-element div[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.feed-element .title-row {
  padding: 1em 0 0 0;
}
.feed-element .id-badge {
  color: #777;
  border-radius: 1.5em;
  text-align: center;
  font-size: 80%;
}
.feed-element .title {
  align-content: center;
  display: flex;
  font-weight: 700;
  text-align: left;
  align-self: center;
  font-size: 102%;
}
.feed-element .title .title-content {
  align-self: center;
}
.feed-element .price {
  color: #0097e6;
  border-radius: 1em;
  justify-content: center;
  align-self: center;
  display: flex;
  font-weight: 700;
}
.feed-element .section.body {
  padding: 0 0 .75em 0;
}
.feed-element .section.body .description p {
  margin: .25em 0;
}
.feed-element .content {
  padding: 0 0 .5em 0;
}
.feed-element .subtitle {
  font-size: 90%;
  color: #777;
}
.feed-element .price-section {
  padding: 0;
  display: flex;
}
.feed-element .price-section .middle-xs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 1;
}
.feed-element .price-section .price {
  width: 100%;
  text-align: center;
  font-size: 130%;
}
.feed-element .price-section .price-breakdown {
  display: flex;
}
.feed-element .price-section .price-breakdown .price-for-one,
.feed-element .price-section .price-breakdown .quantity {
  display: inline;
  padding: .25em;
}
.feed-element .people {
  padding: .1em 0;
  align-items: center;
  display: flex;
}
.feed-element .people i {
  padding: 0 .25em 0 0;
  color: #999;
  font-size: 120%;
}
.feed-element .people .person {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  color: #777;
}
.feed-element .people .person:last-of-type:after {
  content: "";
}
.feed-element .people .person:after {
  content: ",";
  padding: 0 .25em 0 0;
}
.feed-element .actions {
  margin: .5em 0 0 0;
}
.feed-element .actions button {
  padding: 1em;
  border: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-top: 1px solid #eee;
  color: #999;
  font-size: 120%;
  background: transparent;
}
.feed-element .actions a.action {
  text-align: center;
}
.feed-element .actions .action:hover {
  background: #f6f6f6;
  color: #0097e6;
}
.feed-element .actions .action:hover p {
  color: #0097e6;
}
.feed-element .actions .action i {
  padding: 0 .5em;
}
.feed-element .actions .action p {
  color: #999;
  font-size: 70%;
  display: inline;
}
/*==============================

        ActionSelection

===============================*/
.actionSelection {
  transition: .3s all;
  position: fixed;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.34), 0 4px 8px rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-top: 5px solid #00537F;
}
.actionSelection .for-save {
  padding: 1em 0;
  display: flex;
}
.actionSelection .for-save .button-content-wrap {
  margin: .5em 1em;
}
.actionSelection .for-save button:first-of-type {
  margin-left: 0 0 .25em 0;
}
.actionSelection .elements {
  padding: .5em;
}
.actionSelection .elements .element {
  padding: 0;
}
.actionSelection .elements .element .wrap {
  font-size: smaller;
  display: flex;
  background: #0097e6;
  border-radius: 1em;
  padding: .5em 1em;
  color: #eee;
  margin: .25em;
  text-align: left;
}
.actionSelection .elements .element .wrap button.pip {
  margin: 0 0 0 1em;
}
.actionSelection .elements .element .wrap span {
  font-weight: 700;
  margin-right: .25em;
}
.actionSelection .job-ref {
  padding: 1em;
}
.actionSelection input::placeholder {
  font-weight: 400;
}
.actionSelection input,
.actionSelection textarea {
  background: #fff;
  padding: 1em 0 1em .5em;
  border: 1px solid #e7e7e7;
  border-radius: .25em;
  width: 100%;
  font-weight: 600;
  color: #333;
}
.actionSelection .jobForm {
  padding: 1em 0;
}
.actionSelection .total-price {
  font-size: 90%;
  color: #0097e6;
}
.actionSelection .new-job-button {
  text-align: left;
  padding: 1em 0;
}
.actionSelection input.react-autosuggest__input::placeholder {
  font-style: italic;
  color: #777;
}
.dropdownWithContext-container {
  padding: 0;
  display: flex;
  width: 100%;
}
.dropdownWithContext-container .info {
  padding: 1em 1em .5em 1em;
  flex: 1;
}
.dropdownWithContext-container .title {
  font-weight: 700;
}
.dropdownWithContext-container .dropdownWithContext-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: .5em;
  border: 1px solid #ccc;
  background: #fafafa;
  text-align: left;
  margin: .25em;
  width: inherit;
}
.dropdownWithContext-container .dropdownWithContext-wrapper .dropdownWithContext {
  border: 1px solid #eee;
  padding: .5em 0;
  width: 100%;
  background: #eee;
}
/*====================================

            Invoices        

=====================================*/
.invoice-inspection {
  background: #e0e0e0;
}
.page-settings {
  flex: 0;
}
.page-settings ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eee;
  display: inline-flex;
  width: 100%;
  font-size: smaller;
  font-weight: 700;
  overflow: auto;
}
.page-settings ul li {
  border-left: 1px solid rgba(75, 75, 75, 0.3);
  display: inherit;
}
.page-settings ul li:last-of-type {
  border-right: 1px solid rgba(75, 75, 75, 0.3);
}
.page-settings ul li a {
  width: max-content;
  color: #444;
  text-decoration: none;
  padding: 1em;
}
.page-settings ul li a:hover {
  color: #0097e6;
  background: light(#ede6e3, 20%);
  transition: .1s all;
}
.page-settings ul li a.current {
  border-bottom: 0.25em solid #0097e6;
  color: #333;
}
.actionBox {
  flex: 0;
  width: 100%;
}
.app-wrapper {
  height: 100%;
  overflow: auto;
}
.app-wrapper .action-feed.invoice-feed,
.app-wrapper .invoice-inspection {
  overflow-y: scroll;
  overflow-x: hidden;
}
.app-wrapper .invoice-feed,
.app-wrapper .invoice-inspection {
  height: 100%;
}
.document {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.18);
  background: white;
}
.document .logo-wrapper {
  text-align: left;
  padding: 1em;
}
.document table .right-align {
  font-family: 'Source Code Pro', monospace;
}
.document .address-wrapper {
  text-align: left;
  padding: 1em 0;
}
.document .header-content-wrapper {
  display: flex;
}
.document.a4 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 21cm;
  margin: 1em auto;
}
.document.noa4 .footer {
  position: relative;
}
.document .sheet {
  overflow: visible;
  height: auto !important;
}
/* ==========================
        
        Custom Tables

============================= */
.custom-table {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.custom-table .table-head,
.custom-table .table-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}
.custom-table .table-head .table-row,
.custom-table .table-body .table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.custom-table .table-head .table-row .table-data,
.custom-table .table-body .table-row .table-data {
  display: table-cell;
}
.custom-table .table-head .table-row .table-data.short-field,
.custom-table .table-body .table-row .table-data.short-field {
  width: 4em;
}
.custom-table .table-head {
  background: grey;
}
/* ==========================

        Invoice Page

============================= */
.job-info-bar {
  padding: 1em;
  width: 100%;
  background: #f6f6f6;
}
.job-info-bar .button-content-wrap {
  margin: 0em;
  font-size: .8rem;
}
.job-info-bar .button-content-wrap button i,
.job-info-bar .button-content-wrap a i {
  display: inline;
}
.job-info-bar .button-content-wrap.dangerous {
  border-color: red;
  color: red;
}
.job-info-bar .button-outer-wrap {
  padding: .5em;
}
.job-info-bar .button-outer-wrap button,
.job-info-bar .button-outer-wrap a,
.job-info-bar .button-outer-wrap a button {
  width: 100%;
}
@media (min-width: 768px), only print {
  .document .job-details-wrap {
    padding: 1em 6em;
  }
  .document .body {
    flex: 1;
    padding: 1em 4em;
  }
  .document .body table {
    overflow: none;
  }
  .header .logo-wrapper {
    width: auto;
  }
  .header .header-content-wrapper {
    display: flex;
    padding: 1.5em 2.5em .75em;
  }
  .header .logo-wrapper {
    padding: 1em 1em 0 0;
  }
  .address-wrapper {
    padding: 2em 0;
    display: block;
    width: 100%;
  }
}
.document .address {
  border: 1px solid #ccc;
}
@media (min-width: 576px) {
  .invoice-feed .feed-element .actions button {
    padding: 0.5em 1em;
  }
}
@media (min-width: 768px) {
  .action-feed {
    max-width: 70em;
    margin: 0 auto;
  }
  .actionSelection .for-save button:first-of-type {
    margin-left: 2em;
  }
  .actionSelection .type,
  .actionSelection .date-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .main-shortcuts {
    background: transparent;
    border-bottom: transparent;
  }
  body {
    background: #f2f2f2;
  }
  .actionBox {
    max-width: 70em;
    margin: 1em auto 0 auto;
  }
  .actionBox button[class^="button-"] {
    max-width: 5em;
  }
  .col-md-1-2 {
    -ms-flex-preferred-size: 4.1666%;
    flex-basis: 4.1666%;
    max-width: 4.1666%;
  }
  .desktop-only {
    display: inherit !important;
  }
  .app-content-wrapper {
    position: relative;
    display: flex;
  }
  .app-content-wrapper .app-content {
    flex-direction: column;
  }
  .app-content-wrapper .app-content main {
    height: 100%;
  }
  .app-content {
    margin: 0;
    overflow: auto;
    height: 100%;
  }
  .page-settings ul:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.5em;
    background: #eeeeee;
    content: "";
    z-index: -1;
  }
  .searchBar {
    padding: .5em 4em;
  }
  .searchBar .active-outer .icon p {
    display: initial;
  }
  .searchBar input {
    border: 1px solid #fafafa;
    padding: .6em;
    font-size: 120%;
    background: #f6f6f6;
    color: #282828;
    border-radius: .25em 0 0 .25em;
    padding: .5em;
    font-size: 100%;
  }
  .searchBar .icon-holder.for-input {
    border-radius: 0 .25em .25em 0;
    background: #ede6e3;
    border: 1px solid #fafafa;
  }
  .searchBar .icon-holder.for-input i {
    color: #0097e6;
  }
  .searchBar button.profile-menu p {
    font-size: .7em;
    padding: 0 .35em;
    margin: 0;
  }
  .react-autosuggest__suggestions-container--open {
    width: 100%;
  }
  .actionBox .new-action .for-save .button-content-wrap {
    border: 0;
    width: auto;
    margin: 0;
  }
  .total-price {
    margin-left: auto;
  }
  .login-wrapper .login-outer .box .row {
    min-height: 30em;
  }
}
@media (max-width: 768px) {
  .app-content-wrapper {
    flex-direction: column-reverse;
    height: 100%;
  }
  .app-content-wrapper .app-content {
    height: 100%;
    flex-direction: column;
  }
  .app-content-wrapper .app-content main {
    height: 100%;
    flex: 1;
  }
}
.printOnly {
  display: none;
}
@media (min-width: 992px) {
  .col-lg-1-2 {
    -ms-flex-preferred-size: 4.1666%;
    flex-basis: 4.1666%;
    max-width: 4.1666%;
  }
  .main-shortcuts li a i {
    width: 20%;
  }
  .main-shortcuts li .item-title {
    display: inline-block;
  }
  .main-shortcuts .section-title {
    display: block;
  }
}
@media print {
  /* All your print styles go here */
  .element::-webkit-scrollbar {
    width: 0 !important;
  }
  .element {
    -ms-overflow-style: none;
  }
  body {
    visibility: hidden;
    background: transparent;
  }
  * {
    visibility: hidden;
  }
  body,
  #root,
  .App,
  .app-content main {
    min-height: 100% !important;
  }
  #root,
  .App,
  .app-content,
  .app-content main {
    height: auto !important;
  }
  .noPrint {
    display: none;
  }
  .printOnly {
    display: initial;
  }
  main {
    overflow: hidden;
  }
  .toPrint {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    visibility: visible;
    width: 100%;
  }
  .toPrint * {
    visibility: visible;
  }
  .toPrint.document {
    margin: 0;
    min-height: 297mm;
    height: auto;
  }
  .toPrint.document.noa4 .footer {
    position: relative;
    bottom: 0;
  }
  .toPrint.document table tbody::after {
    content: '';
    display: block;
    page-break-after: always;
    page-break-inside: avoid;
    page-break-before: avoid;
  }
}
@page {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}
