// out: ../css/main.css 
@import 'normalise.css';
@import 'flexboxgrid.css'; 
// @import "colours.less";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300");

@main: #e84118;
@light: #ede6e3;
@dark: #36382e;
@complementary: #0097e6;


.col-xs-1-2 {
  -ms-flex-preferred-size: 4.1666%;
  flex-basis: 4.1666%;
  max-width: 4.1666%;
}
.col-xs-1-4 {
  -ms-flex-preferred-size: 2.0833%;
  flex-basis: 2.0833%;
  max-width: 2.0833%;
}


*{
    box-sizing: border-box;
    // transition: .1s all;

}
body{
    width: 100%;
    background: #f2f2f2
}
.App{
    width: 100%;
}
.row{
    width: 100%;
}
.col-xs-0{
    display: none;
}
.App{
}

.logo-inner{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
}
.searchBox{
    border-radius: .2em;
    // overflow-x: hidden;
}
.searchBar{
    box-shadow: 0 0 4px rgba(0,0,0,.04), 0 4px 8px rgba(0,0,0,.18);
    padding: .4em .25em;
    & *{
        display: flex;
    }
    width: 100%;
    display: flex; 
    .first-setting--searchBar{
            margin-left: auto;
    }
    .icon-holder.for-input{
        background: #f6f6f6;
        border-radius: 0 .25em .25em 0;
    }
    input{
        border: 1px solid rgba(250,250,250,1);
        padding: .6em;
        font-size: 120%;
        
    }

    button.for-input{
        transition: .3s all;
        &:hover{
            background: lighten(@complementary,20%);
            border: 1px solid lighten(@complementary,20%);
        }
        &:hover,&:active{
            .icon{
                color: #f6f6f6;
            }
        }
        &:active{
            background: @complementary;
            border: 1px solid @complementary;
        }   
    }
}
.for-input{
        transition: .3s all;
        &:hover{
            background: lighten(@complementary,20%);
        }
        &:hover,&:active{
            i,.icon{
                color: #f6f6f6;
            }
        }
        &:active{
            background: @complementary;
        }   
    }
.searchBar.isMobile{
        .col-xs-*{
            padding-right: 0;
            padding-left: 0;
        }
        .fa-cogs{
            padding: 0 0.5em;
        }
}
.active-outer{
    .icon{
        color: #f6f6f6;
        font-size: x-large;
        // margin:  0 .5em;
        
    }
    transition: .1s all;
    justify-content: center;
    &:hover{
        .icon{
            color: lighten(@dark,10%); 
        
        }
    }
    button{
        background: transparent;
        border: 0;
        &:focus, &:focus:hover{
            color: @dark; 
        }
    }
}

.icon-holder.for-input{
    .icon{
        display: flex;
        color: @complementary;

    }
    justify-content: center;
    display: flex;
    padding: 0 .5em;
    border: 2px solid rgba(250,250,250,1);

}



.react-autosuggest__container {
    position: relative;
    width: 100%;
}

.react-autosuggest__input {
  width: 100%;
//   height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: .25em 0 0 .25em;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 99vw;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.react-autosuggest__suggestion {
    a{
        text-decoration: none;
    }
    p, h3, i, span{
        color: @dark;
        
    }
    i{
        color: @complementary;
    }
    

    display: block;
    width: 100%;
    cursor: pointer;
    padding: .25em;
    .type{
        padding: 0 1em;

    }
    .suggestion-content-wrapper{
        width: 100%;
        display: inline-block;
        .title{
            font-weight: 700;
        }
        p{
            text-align: left;
            span{
                height: fit-content;
                padding: 0 1em;
                background: @complementary;
                text-transform: uppercase;
                font-size: small;
                color: white;
                padding: .25em;
                border-radius: .25em;
                margin-left: auto;
                &.unimportant{
                    background: #aaa;
                }
            }
            padding: 0;
            margin: .5em 0;
        }
    }
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}
.menu-outer{
    position: relative;
}
.menu-settings{
    display: none;
    &.menu-open{
        display: flex;
    }
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    

    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

    width: 10em;
    border-radius: .2em;
    .menu-title{
        font-size: 90%;
        p{
            display: inline;
            width: 100%;
            text-align: center;
            // text-transform: uppercase;
            font-weight: 700;
        }
    }
    ul{
        padding: 0 0 .5em 0;
        margin: 0em;
        display: block;
        width: fit-content;
        width: 100%;
    }
    li{
        a{
            width: 100%;
        }
        padding: .5em 1em;
        // margin: 1em;
        width: 100%;
        i{
            padding: 0 tem;
            color: @complementary;
            width: 25%;
            text-align: center;
        }
        &:hover{
            background: @light;
        }
    }
    flex-direction: column;
    position: absolute;
    top: 100%;
    text-align: right;
    right: 0;
    background: lighten(@light,10%);
    
}
.shortcutsBar{
    .user-title{
        text-align: left;
        font-weight: 700;
    }
    .section-title{
            font-size: 90%;
            p{
                display: block;
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                font-weight: 700;
                color: #999;
            }
        }
}
.main-shortcuts{
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #aaa;
    .mobile-shortcut{
        a{
            color: #282828;
            text-decoration: none;
            padding: .5em 0;
        }
        border-right: 1px solid rgba(200, 200, 200, 0.4);
        padding: .5em;
        
    }
    i{
        font-size: 150%;
        width: 100%;
        padding: .2em 0;
        color: @complementary;
    }
}
.shortcutList{
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: left;
    border-radius: .2em;
   
    ul{
        padding: 0 0 .5em 0;
        margin: 0em;
        display: block;
        width: fit-content;
        width: 100%;
    }
    li{
        a{
            width: 100%;
            padding: .5em .25em;
            color: #36382e;
            text-decoration: none;
            display: block;

        }        
            width: 100%;
        display: block;
        list-style: none;
        // margin: 1em;
        width: 100%;
        i{
            padding: 0em;
            color: @complementary;
            width: 25%;
            text-align: center;
        }
        &:hover{
            background: @light;
        }
    }

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .main-shortcuts{
        border-top: 1px solid rgba(200, 200, 200, 0.4);
        background: transparent;
        border-bottom: transparent;
        padding: 0 0 1.5em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
        .searchBar{
            input{
            
            padding: .5em;
            font-size: 100%;
            
            }
            padding: .5em 4em;
        }
    .react-autosuggest__suggestions-container--open {
    width: 100%;
    }
    .shortcutsBar{
        margin: 0 5em;

    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }