// out: ../css/main.css 
@import 'normalise.css';
@import 'flexboxgrid.css'; 
// @import "colours.less";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,600,800|Roboto:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

@main: #00537F;
@light: #ede6e3;
@dark: #36382e;
@complementary: #0097e6;
@ocomp: #FF981D;

.App{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.modal-back{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.74);
}
.col-xs-1-2 {
  -ms-flex-preferred-size: 4.1666%;
  flex-basis: 4.1666%;
  max-width: 4.1666%;
}

.col-xs-1-4 {
  -ms-flex-preferred-size: 2.0833%;
  flex-basis: 2.0833%;
  max-width: 2.0833%;
}
.stuck-top{
    position: fixed;
    top:0;
    z-index: 5;

}
.stuck-bottom{
    position: fixed;
    overflow: auto;
}
.stuck-bottom.height-70{
    min-height: 70%;
}
.stuck-bottom.height-100{
    max-height: 100%;
}
*{
    box-sizing: border-box;
    // transition: .1s all;

}
html, body{
    height: 100%;
}

body{
    width: 100%;
    min-height: 100%;
    background: #d6d6d6
}
#root{
    width: 100%;
    height: 100%;
}
.App{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}
.row{
    width: 100%;
}
.col-xs-0{
    display: none;
}
.App{
}
.or{
    display: inline;
}

.logo-inner{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    padding: 0 1em;
}
.searchBox{
    border-radius: .2em;
    // overflow-x: hidden;
}
.searchBar{
    // border-bottom: 1px solid #222;
    padding: .4em .25em;
    & *{
        display: flex;
    }
    width: 100%;
    display: flex; 
    .first-setting--searchBar{
            margin-left: auto;
    }
    .icon-holder.for-input{
        background: #f6f6f6;
        border-radius: 0 .25em .25em 0;
    }
    input{
        border-radius: 0;
        background: transparent;
        border: 0;
        border-bottom: 2px solid rgba(243,243,243,.6);
        padding: .3em;
        font-size: 120%;
        color: #f6f6f6;
        &::placeholder{
            color: rgba(250,250,250,.5);
        }
    }
    .icon-holder.for-input{
        border-radius: 0;
        
        background: transparent;
        border: transparent;
        border-bottom: 2px solid rgba(243,243,243,.6);
        i{
            color: rgba(243,243,243,.6);
        }
        &:hover{
            background: rgba(100,100,100,.8);
        }
        &:hover,&:active{
            i,.icon{
                color: #f6f6f6;
            }
        }
        &:active{
            background: rgba(243,243,243,.6);
        }   
    }
    button.for-input{
        transition: .3s all;
        
        &:hover{
            background: lighten(@complementary,20%);
            border: 1px solid lighten(@complementary,20%);
        }
        &:hover,&:active{
            .icon{
                color: #f6f6f6;
            }
        }
        &:active{
            background: @complementary;
            border: 1px solid @complementary;
        }   
    }
}
.for-input{
    
    transition: .3s all;
        p{
            color: #aaa;
            display: inline;
            font-weight: 700;

        }
        &:hover{
            background: lighten(@complementary,20%);
        }
        &:hover,&:active{
            p{
                color: #282828;
            }

            i,.icon{
                color: #f6f6f6;
            }
        }
        &:active{
            background: @complementary;
        }   
    }
.searchBar.isMobile{
        .col-xs-*{
            padding-right: 0;
            padding-left: 0;
        }
        .fa-cogs{
            padding: 0 0.5em;
        }
}
.active-outer{
    .icon{
        color: #f6f6f6;
        font-size: x-large;
        // margin:  0 .5em;
        p{
            display: none;
        }
    }
    transition: .1s all;
    justify-content: center;
    &:hover{
        .icon{
            background: lighten(@dark,10%); 
            &:active{
                // color: @light;
            }
            border-radius: .35em;            
        }
    }
    button{
        background: transparent;
        border: 0;
        &:focus, &:focus:hover{
            // color: @dark; 
        }
    }
}

.icon-holder.for-input{
    .icon{
        display: flex;
        color: @complementary;

    }
    justify-content: center;
    display: flex;
    padding: 0 .5em;
    border: 2px solid rgba(250,250,250,1);

}

.total-price{
    align-self: center;
    
    padding: 0 1.5em;
    font-weight: 700;
    font-size: smaller;
    color: rgb(150,150,150);

}

button[class^="button-"]{
    border: 1px solid rgba(200,200,200,.9);
    border-radius: .25em;
    transition: .3s all;
    &:hover{
        background: rgba(50,50,50,.3);
        i{
            color:white;
        }
    }
    &:active{
        background: rgba(50,50,50,.6);
        i{
            color:white;
        }
    }
}
button{
    cursor: pointer;
}
button,button i{
    transition: .1s all;

}
button.success, a.success{
    background: lightgreen;
    color: #f6f6f6;
    i{
        color: white;
    }
    &:hover{
        background: darken(lightgreen, 10%);
    }
    &:active{
        background: darken(lightgreen,20%);
    }
}
button.pip, a.pip{
    border: 0;
    background: rgba(250,250,250,.8);
    border-radius: 2em;
    color: #777 !important;
    margin-left: auto;

}

button.light, a.light{
    background: transparent;
    color: #888;
    font-weight: 700;
    // font-size: smaller;
    i{
        color: #888;
    }
    &:hover{
        background: transparent;
        color: #2a2a2a;
        i{
            color: #2a2a2a;            
        }
    }
}
button.button-remove, a.button-remove{
    
    &.light{
        font-size: smaller;
        background: transparent;
        color: #aaa;
        border: 1px solid #e84118;
        i{
            color: #aaa;
        }
        &:hover{
            background: transparent;
            color: #282828;
            i{
                color: #282828;            
            }
        }
    }
    i{
        color: inherit;
    }
    color: #e84118;
}
.react-autosuggest__container {
    position: relative;
    width: 100%;
}

.react-autosuggest__input {
  width: 100%;
//   height: 30px;
  padding: 1em 0 1em .5em;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: .25em 0 0 .25em;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 90%;
  width: 95vw;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.react-autosuggest__suggestion {
    a{
        text-decoration: none;
    }
    p, h3, i, span{
        color: @dark;
        
    }
    i{
        color: @complementary;
    }
    

    display: block;
    width: 100%;
    cursor: pointer;
    padding: .25em;
    .type{
        padding: 0 1em;

    }
    .suggestion-content-wrapper{
        width: 100%;
        display: inline-block;
        .title{
            font-weight: 700;
        }
        p{
            text-align: left;
            span{
                height: fit-content;
                padding: 0 1em;
                background: @complementary;
                text-transform: uppercase;
                font-size: small;
                color: white;
                padding: .25em;
                border-radius: .25em;
                margin-left: auto;
                &.unimportant{
                    background: #aaa;
                }
            }
            padding: 0;
            margin: .5em 0;
        }
    }
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestion-match {
  color: red;
  font-weight: bold;
}
.menu-outer{
    position: relative;
}
.menu-settings{
    display: none;
    &.menu-open{
        display: flex;
    }
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    

    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

    width: 10em;
    border-radius: .2em;
    z-index: 5;
    .menu-title{
        font-size: 90%;
        p{
            display: inline;
            width: 100%;
            text-align: center;
            // text-transform: uppercase;
            font-weight: 700;
        }
    }
    ul{
        padding: 0 0 .5em 0;
        margin: 0em;
        display: block;
        width: fit-content;
        width: 100%;
    }
    li{
        a{
            width: 100%;
        }
        padding: .5em 1em;
        // margin: 1em;
        width: 100%;
        i{
            padding: 0 tem;
            color: @complementary;
            width: 25%;
            text-align: center;
        }
        &:hover{
            background: @light;
        }
    }
    flex-direction: column;
    position: absolute;
    top: 100%;
    text-align: right;
    right: 0;
    background: lighten(@light,10%);
    
}
.shortcutsBar{
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 0;
    padding-right: 0;
    .user-title{
        font-weight: 700;
        color: @light;
        text-align: center;
    }


}
.section-title{
        width: 100%;
        user-select: none;
        font-size: 90%;
        p{
            display: block;
            width: 100%;
            text-align: left;
            text-transform: uppercase;
            font-weight: 700;
            color: #999;
            padding: 0 .5em;
        }
    }
.main-shortcuts{
    width: 100%;
    background: #f5f5f5;
    .mobile-shortcut{
        &.selected{
            background: @complementary;
            i{
                color: contrast(@complementary);
            }
        }
        a{
            color: #282828;
            text-decoration: none;
            padding: .5em 0;
        }
        // border-right: 1px solid rgba(200, 200, 200, 0.4);
        padding: .5em;

    }
    i{
        font-size: 160%;
        width: 100%;
        padding: .2em 0;
        color: @complementary;
    }
    .row{
        padding: 0;
        margin: 0;
    }
    li{
        a{
            i{
                width: 100%;
            }
        }
        .item-title{
                display: none;
        }
    }
    .section-title{
        display: none;
    }
}
.button-content-wrap{
    font-weight: 700;
    margin: 0 1em;
    height: 100%;
    p{
        font-size: inherit;
        display: inline-block;
        padding: 0 .75em 0 0;
    }
    i{
        padding: 1em;
    }
}
.shortcutList{
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: left;
    border-radius: .2em;
   
    ul{
        padding: 0 0 .5em 0;
        margin: 0em;
        display: block;
        width: fit-content;
        width: 100%;
    }
    li{
        &.selected{
            background: @main;
        }
        a{
            width: 99%;
            padding: .5em .25em;
            color: @light;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
        }        
            width: 100%;
        display: block;
        list-style: none;
        // margin: 1em;
        width: 100%;
        i{
            padding: 0em;
            color: @complementary;
            width: 20%;
            text-align: center;
            font-size: medium;
        }
        &:hover{
            background: @main;
        }
    }

}
.desktop-only{
    display: none !important;
}
.actionBox{
    background: #f6f6f6;
    margin: 0;
    border: 1px solid #eee;

    .description-box{
        .react-autosuggest__suggestions-container--open{
            border: 1px solid #eee;
        }
        .suggestion-content-wrapper{
            // border: 1px solid #eee;
            .title{
                display: flex;
            }
            p{
                font-weight: 300;
                font-style: italic;
            }
        }
    }
    .profile-icon{
        padding: .5em 0;
        text-align: center;
        display: inline-block;
        font-size: 130%;
        i{
            color: rgba(100,100,100,.4);
        }
        p {
            display: inline-block;
            font-size: small;
            color: rgba(100,100,100,.4);
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .new-action{
        textarea{
            border: 1px solid rgb(231, 231, 231);
            border-radius: .5em;
            width: 100%;
            padding: 1em;
            margin: .5em 0 0 0;
            font-size: 100%;
            height: 4em;
            max-width: 100%;
        }
        .new-action-tools{
            padding: .5em 0 0 0;
            display: flex;
            justify-content: center;
        }
        .add{
            transition: .3s all;     

            height: 100%;
            padding: 1em;
            color: #282828;
            border-left: 1px solid #eee;
            &.button:hover{
                border-left: 1px solid lighten(@complementary,20%);
            } 
        }
        .for-save{
            margin-left: auto;  
            display: flex;
            border-top: 1px solid #eee;
            padding: .5em .5em;
            .button-content-wrap{
                width: 100%;
                margin: 0 1em;
                max-width: 10em;    
                font-size: 90%;    
                font-weight: 700;
            }
        }
        .for-input{
            font-size: 70%;
            padding: 1em .25em;
            &:hover{
                i{
                    color: darken(@complementary,10%);
                }
            }
        }

    }
    .datePickerWrapper{
        width: 6em;
        border-radius: .5em;
        border: 1px solid #eee;
        height: auto;
        padding: 1em 0 1em .5em;

    }
    
    .datePicker-wrapper{
        display: flex;
    }

    .DayPickerInput{
        width: 13em;
    }
    .add-date + div{
        display: inline-block;
    }
    button.add,.for-save{
        background: none;
        border:0;  
 
    }
    i{
        padding: .25em; 
        font-size: large;
        color: #0097e6;
    }
    .row .inputs{
        .m{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .at{
            padding: 1em;
        }
    }
    .address{
        button{
            max-width: 100% ;
        }
    }
    .currency-input,.days-input{
        display: flex;
        background: #fff;
        border-radius: .5em;
        flex: 0;

        border: 1px solid rgb(231, 231, 231);
        input{
            border-radius: .5em;
            width: 80%;
        }

    }
    .currency-input{
        input[type="number"]{
            width: 9em;
        }
    }

    .label{
        display: flex;
       padding: .5em;
    }
    input[type="number"]{
        height: auto;
        border: 0;
        padding: 1em 0 1em .5em;
        width: 6em;
    }
    input{
        background: #fff;
        padding: 1em 0 1em .5em;
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        font-size: 16px;
        border: 1px solid #e7e7e7;
        border-radius: .25em;
        width: 100%;
    }
    textarea{
        min-width: 75%;
        max-width: 100%;
    }
}
.newUserForm{
    display: block;
    width: 100%;
}
.for-save{
    &:focus{
        border: 0;
        outline: 0;
    }
    .button-content-wrap{
        transition: .3s all;
        display: inline-block;
        border-radius: .5em;
        
        p{
            display: inline-block;
            padding: 0 .75em 0 0;
        }

    }
}
.app-content-wrapper{
        .app-content{
            min-height: 100vh;
            flex-direction: column;
        }
        .app-format{
            flex-wrap: inherit;
            height: 100%;
            flex-direction: column;
            .action-feed,.invoice-inspection{
                height: 100%;
                margin: 0;
            }
            flex: 1;
        }
        display: flex;
        flex:1;
        width: 100%;
}

.date-wrapper{
    display: flex;
    padding: 0;
}
.react-datepicker-wrapper{
    width: 100%;
    .react-datepicker__input-container{
        width: 100%;
        .datePickerWrapper{
            width: 100%;
        }
    }
}

.left-curve-border{
    border-radius: .25em 0 0 .25em;
}
.right-curve-border{
    border-radius: 0 .25em .25em 0;   
}

 .custom-checkbox {
    width: 4rem;
    position: relative;
    height: 3.25rem;
    input{
        width: 100%;
        height:100%;
    }
  }
.custom-checkbox  label {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
    }
.custom-checkbox label:after {
    transition: .1s all;
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    left: 7px;
    border: 3px solid #282828;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    bottom: 50%;

}

.InputFromTo-to{
    display: flex;
    text-align: center;
    justify-content: center;
}
.InputFromTo > div{
    padding: 0;
}
.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
background-color: #f0f8ff !important;
color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
border-top-left-radius: 50% !important;
border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
border-top-right-radius: 50% !important;
border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
width: 20em;
}
.InputFromTo-to .DayPickerInput-Overlay {
margin-left: -198px;
}

.checkbox-wrapper{
    display: flex;
    flex: 1;
}
    /**
    * Create the hover event of the tick
    */
.custom-checkbox label:hover::after {
    opacity: 0.5;
}

    /**
    * Create the checkbox state for the tick
    */
.custom-checkbox label.checked:after {
    opacity: 1;
    margin: 0 auto;
    left: 39%;
}



/* =============================

            Login

=============================== */
.login-wrapper{
    & *{
        box-sizing: border-box;
    }
    
    min-height: max-content;
    line-height: auto;

    // background-color: #ececec;
    // background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23fff6e6' fill-opacity='1' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 2vh;
        line-height: 1em;
    }
    &.isStandalone{
        background-color: #DFDBE5;
        height: 100%;

    }

    .intro-section{
        background: #FDC830;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FF9800, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 2.5em 1em;
        border-radius: 1em;
        
        // &.redBG {
            //     background: red;
            // }
            
            &.formal{
            background: #282828;
            line-height: 1em;
            padding: initial;
            span{
                font-size: 110%;
                color: orange;
            }
            .site-title {
                font-weight: 600;
                font-size: 3.5vh;
                line-height: 1em;
            }
            .site-subtitle{
                font-weight: 600;
                line-height: 1em;

            }
        }
    } 
    
    .login-section{
        input[type="checkbox"]{
            display: inline-block;
            margin-right: .5em;
            width: AUTO;
            &  + .input-label{
                    display: inline-block;
            }
        }
        .sign-in-button{
            transition: .5s all;
            border: 0;
            color: white;
            padding: .5em 1em;
            border-radius: .2em;
            font-size: 105%;
            background: rgb(67, 100, 211);
            background-image: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
            background-image: linear-gradient(to right, hsl(210, 86%, 55%), #4568DC);
            &:hover{
                background: #4568DC;
            }
            &:focus{
                background: rgb(46, 70, 148);
 
            }
        }
        .complete-button{
            transition: .5s all;
            border: 0;
            color: white;
            padding: .5em 1em;
            border-radius: .2em;
            font-size: 105%;
            background: #519548;
            background-image: -webkit-linear-gradient(to right, #519548, #88C425);
            background-image: linear-gradient(to right, #519548, #88C425);
            &:hover{
                background: #4568DC;
            }
            &:focus{
                background: rgb(46, 70, 148);
 
            }
        }
      }
    .titles-wrap{
        padding: 2em 1.5em;
    }
    .login-description{
        color: #bbb;
        font-weight: 500;
        margin-bottom: 2em;
    }
    .login-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #FF9800;
        // font-weight: 800;
        font-size: 225%;   

    }
    .site-img{
        display: flex;
        text-align: left;
        padding-bottom: 2em;
        .site-name, img{
            display: inline-block;
            color: white;
        }
        .site-name{
            font-size: 160%;
            width: 80%;
            padding: 0 .25em;
            box-sizing: border-box;
            align-self: center;
            line-height: 1em;
        }
        img{
            // max-width: 20%;
            max-height: 6em;
        }
    }
    
    .site-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        text-align: left;
        font-size: 5vh;
        color: #f6f6f6;
        line-height: 1em;
    //  /   font-weight: 800;
    }
    .site-description{
        text-align: left;
        font-family: 'Roboto', sans-serif;
        line-height: initial;
        color: white;
        padding: 1em 0;
        font-size: 115%;
        line-height: 1em;
    }
    .site-logo{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 75%;
        // text-transform: uppercase;
        text-align: left;
        color: white;
        align-self: bottom;
    }
    .site-subtitle{
        text-align: left;
        font-family: 'Poppins', sans-serif;
        padding-top: .25em;
        font-size: 130%;
        font-weight: 600;
        color: rgba(255,255,255,0.9);
        line-height: 1.2em;
    }
    .description{
        font-size: 90%;
    }
    .input-group{
        text-align: left;
        padding: 1em 0;
        .input-label{
            
            color: #bbb;
            font-weight: 800;
        }
    }
    
    input{
        width: 100%;
        border-radius: 0;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgba(200,200,200,.8);
        padding: .6em;
        font-size: 110%;
        font-weight: 200;
        color: #282828;
        transition: .2s all;
        &::placeholder{
            color: rgba(250,250,250,.5);
        }
        &:focus{
            border-bottom: 1px solid rgba(4, 0, 240, 0.8);
        }
    }

}
.navigation-group{
    display: flex;
    padding: .5em 1em;
}
.navigation-point{
    background: #fe9901;
    color: white;
    border-radius: 5em;
    margin: 0 auto;
    padding: .35em 0;
    font-weight: bold;
    font-family: monospace;
    width: 3em;
    font-size: 125%;
}
.navigation-element{
    flex: 1;

}
.login-outer{
    .box{
        line-height: initial;
    }
    padding: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    background: white;
    // padding: 2.5em 1em;
    border-radius: 1em;
    line-height: auto;
    margin: 1em 0;

}
/*==============================

            Action Feed

===============================*/



.action-feed{
    background: #ccc;
    // border: 1px solid #eee;
    // margin: 0 0 15em 0;
    flex: 1;
    overflow: auto;
    width: 100%;
    &.menu-padding{
        margin-bottom: 15em;
    }
}


.feed-element{
    transition: .2s all;
    &.selected{
        // border: 0;
        border-left: .3em solid @ocomp;
        
    }
    &.withJob{
        // border: 0;
        border-left: .3em solid lightgreen;
        .price{
            color: lightgreen;
        }
    }
    background: #fcfcfc;
    text-align: left;
    padding: 0 1em;
    div[class^="col-"]{
        padding-right: 0;
        padding-left: 0;
    }
    .row .section{
        // padding: 1em 0 0 0;
    }
    border: 1px solid #eee;
    border-left: .3em solid #eee;
    margin: .3em 0;
    .title-row{
        padding: 1em 0 0 0;
    }
    .id-badge{
        color: #777;
        border-radius: 1.5em;
        text-align: center;
        font-size: 80%;
    }
    .title{
        .title-content{
            align-self: center;
        }
        align-content: center;
        display: flex;
        // width: %;
        font-weight: 700;
        text-align: left;
        align-self: center;
        font-size: 102%;
    }
    
    .price{
        // border: 1px solid @complementary;
        color: @complementary;
        border-radius: 1em;
        justify-content: center;
        align-self: center;
        display: flex;
        font-weight: 700;

    }
    .section.body{
        padding: 0 0 .75em 0;
        .description p{
            margin: .25em 0;
        }
    }
    .content{
        padding: 0 0 .5em 0;
        // padding: .5em 0;

    }

    .subtitle{
        // padding: .25em 0 0 0;
        font-size: 90%;
        color: #777
    }
    .price-section{
        padding: 0;
        display: flex;
        .middle-xs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            flex: 1;
        }
        .price{
            // display: flex;
            width: 100%;
            text-align: center;
            font-size: 130%;
        }
        .price-breakdown{
            display: flex;
            .price-for-one,.quantity{
                display: inline;
                padding: .25em;
            }
        }
    }
    .people{
        padding: .1em 0;

        align-items: center;
        // padding: 0;
        display: flex;
        i{
            padding: 0 .25em 0 0;
            color: #999;
            font-size: 120%;
        }

        .person{            
            display: flex;
            flex-wrap: wrap;
            font-size: smaller;
            color: #777;
            &:last-of-type:after{
                content: "",
            }
            &:after{
                content: ",";
                padding: 0 .25em 0 0;
            }
        }
        
    }
    .actions{
        margin: .5em 0 0 0;
        button{
                padding: 1em;
    
                border: 0;
                cursor: pointer;
                user-select: none;
                text-align: center;
                border-top: 1px solid #eee;
                color: #999;
                font-size: 120%;
                background: transparent;
        }
        a.action{
            text-align: center;
        }
        .action{
            &:hover{
                background: #f6f6f6;
                color: @complementary;
                p{
                    color: @complementary;
                }
            }
            i{
                padding: 0 .5em; 
            }
            p{
                color: #999;
                font-size: 70%;
                display: inline;
            }
        }
    }
}


/*==============================

        ActionSelection

===============================*/

.actionSelection{
    transition: .3s all;
    position: fixed;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.34), 0 4px 8px rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-top: 5px solid @main;
    .for-save{
        padding: 1em 0;
        display: flex;
        .button-content-wrap{
            margin: .5em 1em;
        }
        button:first-of-type{
            margin-left: 0 0 .25em 0;
        }
    }

    .elements{
        padding: .5em;
        .element{
            padding: 0;
            .wrap{
                button.pip{
                    margin: 0 0 0 1em;
                }
                span{
                    font-weight: 700;
                    margin-right: .25em;
                }
                font-size: smaller;
                display: flex;
                background: @complementary;
                border-radius: 1em;
                padding: .5em 1em;
                color: #eee;
                margin: .25em;
                text-align: left;
            }
        }
    }
    .job-ref{
        padding: 1em;
    }
    input::placeholder{
        font-weight: 400;
    }
    input,textarea{
        background: #fff;
        padding: 1em 0 1em .5em;
        border: 1px solid #e7e7e7;
        border-radius: .25em;
        width: 100%;
        font-weight: 600;
        color: #333;
   }

    .jobForm{
        padding: 1em 0;
    }
    .total-price{
        font-size: 90%;
        color: @complementary;
    }
    .new-job-button{
        text-align: left;
        padding: 1em 0;
    }
    input.react-autosuggest__input::placeholder {
        font-style: italic;
        color: #777;
    }
}

.dropdownWithContext-container{
    padding: 0;
    display: flex;
    width: 100%;
    .info{
        padding: 1em 1em .5em 1em;
        flex: 1;
    }
    .title{
        font-weight: 700;
    }
    .dropdownWithContext-wrapper{
        display: flex;
        flex-direction: column;
        border-radius: .5em;
        border: 1px solid #ccc;
        background: #fafafa;
        text-align: left;
        margin: .25em;
        width: inherit;
        .dropdownWithContext{
            border: 1px solid #eee;
            padding: .5em 0;
            width: 100%;
            background: #eee;
            .option{
            }
        }
    }
}

/*====================================

            Invoices        

=====================================*/
.invoice-inspection{
    background: #e0e0e0;
}
.page-settings{
    flex: 0;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        background: #eee;
        display: inline-flex;
        width: 100%;
        font-size: smaller;
        font-weight: 700;
        overflow: auto;
        li{
            border-left: 1px solid rgba(75,75,75,.3);
            display: inherit;
            &:last-of-type{
                border-right: 1px solid rgba(75,75,75,.3);
            }
            a{
                width: max-content;
                color: #444;
                text-decoration: none;
                padding: 1em;
                &:hover{
                    color: @complementary;
                    background: light(@light,20%);
                    transition: .1s all;
                }
                &.current{
                    border-bottom: .25em solid @complementary;
                    color: #333;
                }

            }
        }
    }

}
.actionBox{
    flex: 0;
    width: 100%;
}
.app-wrapper{
    .action-feed.invoice-feed, .invoice-inspection{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .invoice-feed, .invoice-inspection{
        height: 100%;
    }
    // flex: 1;
    // display: flex;
    height: 100%;
    overflow: auto;
}
.document{
    box-shadow: 0 0 4px rgba(0,0,0,.04), 0 4px 8px rgba(0,0,0,.18);
    background: white;
    .logo-wrapper{
        text-align: left;
        padding: 1em;
    }
    table .right-align{
        font-family: 'Source Code Pro', monospace;
    }
    .address-wrapper{
        text-align: left;
        padding: 1em 0;
    }
    .header-content-wrapper{
        display: flex;
    }
    &.a4{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 21cm;
        // min-height: 29.7cm; 
        // size: a4;
        margin: 1em auto;
    }
    &.noa4{
        .footer{
            position: relative;
        }
    }
    .sheet {
        overflow: visible;
        height: auto !important;
    }
}

/* ==========================
        
        Custom Tables

============================= */

.custom-table{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .table-head, .table-body{
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-wrap: wrap;
        .table-row{
            display: table;
            table-layout: fixed;
            width: 100%;
            // flex-direction: column;
            .table-data{
                display: table-cell;
                &.short-field{
                    width: 4em;
                }
            }
        }   
    }

    .table-head{
        background: grey;
    }
}

/* ==========================

        Invoice Page

============================= */
.job-info-bar{
    padding: 1em;
    width: 100%;
    background: #f6f6f6;

    .button-content-wrap{
        margin: 0em;
        font-size: .8rem;
        button i, a i{
            display: inline;
        }
        &.dangerous{
            border-color: red;
            color: red;
        }
    }
    .button-outer-wrap{
        padding: .5em;
        button, a, a button{
            width: 100%;
    
        } 

    }
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400|600');

@media (min-width: 768px), only print{ 
    .document .job-details-wrap{
        padding: 1em 6em;
    }
    .document{
        .body{
            flex: 1;
            padding: 1em 4em;
            table{
                overflow: none;
            }
        }
    }
    .header .logo-wrapper{
        width: auto;
    }
    .header .header-content-wrapper{
        display: flex;
        padding: 1.5em 2.5em;
    }
    .header .logo-wrapper{
        padding: 1em 1em 0 0;        
    }
    .address-wrapper{
        padding: 2em 0;
        display: block;
        width: 100%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

.document .address{
    border: 1px solid #ccc;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .invoice-feed .feed-element .actions button{
        padding: 0.5em 1em;
    }  
    // .actionBox .profile-icon{
    //     padding: 1em 0;
    //     margin: 2em;

    //     height: fit-content;
    //     padding: .5em 0;
    //     display: flex;
    //     background: @complementary;
    //     border-radius: 2em;x
    //     color: #f6f6f6;
    // }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .action-feed{
        max-width: 70em;
        margin: 0 auto;
        // margin: 0 auto;
    }
    .actionSelection{
        .for-save{
            button:first-of-type{
                margin-left: 2em;
            }
        }
        .type,.date-wrapper{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .main-shortcuts{

        // border-top: 1px solid rgba(100, 100, 100, 0.4);
        background: transparent;
        border-bottom: transparent;
        // padding: 0 0 1.5em;
    }
    body{
        background: #f2f2f2;

    }
    .actionBox{
        max-width: 70em;
        margin: 1em auto 0 auto;

        // margin: 1em 0 0 0;
        button[class^="button-"]{
            max-width: 5em;
        }
    }
    .col-md-1-2 {
    -ms-flex-preferred-size: 4.1666%;
    flex-basis: 4.1666%;
    max-width: 4.1666%;
    }

    .desktop-only{
        display: inherit !important;
    }
    .app-content-wrapper{
        position: relative;
        display: flex;
        .app-content{
            flex-direction: column;
            main{
                height: 100%;
            }
        }
    }
    .app-content{
        margin: 0;
        overflow: auto;
        height: 100%;
    }
    .page-settings ul:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3.5em;
        background: #eeeeee;
        content: "";
        z-index: -1;
    }
        .searchBar{
            .active-outer{
                .icon{
                    p{
                        display: initial;
                    }
                }
            }
            input{
                border: 1px solid rgba(250,250,250,1);
                padding: .6em;
                font-size: 120%;
                background: #f6f6f6;
                color: #282828;
                border-radius: .25em 0 0 .25em;
                padding: .5em;
                font-size: 100%;
            }
            .icon-holder.for-input{
                border-radius: 0 .25em .25em 0;
 
                
                background: @light;
                border: 1px solid rgba(250,250,250,1);
                i{
                    color: @complementary;
                }
            }
            button.profile-menu p{
                font-size: .7em;
                padding: 0 .35em;
                margin: 0;

            }
            padding: .5em 4em;
        }
    .react-autosuggest__suggestions-container--open {
    width: 100%;
    }
    .actionBox .new-action .for-save .button-content-wrap{
        border: 0;
        width: auto;
        margin: 0;
    }
    .total-price{
        margin-left: auto;
    }
    .login-wrapper{
        .login-outer{
            .box{
                .row{
                    min-height: 30em;
                }
            }
        }
        
    }
    .job-info-bar{
        .for-save{
            // max-width: 30em;
            // margin: 0 auto;
        }
    }

}

@media (max-width: 768px){
    .app-content-wrapper{
        flex-direction: column-reverse;
        height: 100%;
        .app-content{
            height: 100%;
            flex-direction: column;
            main{
                height: 100%;
                flex: 1;
            }
        }
    }
}
.printOnly{
    display: none;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    // .app-content{
    //     margin: 0 8em;
    // }
    .col-lg-1-2 {
    -ms-flex-preferred-size: 4.1666%;
    flex-basis: 4.1666%;
    max-width: 4.1666%;
    }

        .actionBox .profile-icon{
        // padding: 1em 0;

        // height: fit-content;
        // padding: .5em 0;
        // display: flex;
        // background: @complementary;
        // border-radius: 2em;
        // color: #f6f6f6;
    }
    .main-shortcuts{
        li{
            a i{
                width: 20%;
            }
            .item-title{
                display: inline-block;
            }
        }
        .section-title{
            display: block;
        }
    }

}
@media print { 
 /* All your print styles go here */
    .element::-webkit-scrollbar { width: 0 !important }
    .element { -ms-overflow-style: none; }

    body{
        visibility: hidden;
        background: transparent
    }
    *{
        visibility: hidden;
    }
    body, #root, .App, .app-content main{
        min-height: 100% !important;
    }
    #root, .App, .app-content, .app-content main{
        // width: 100%;
        height: auto !important;
    }
    .noPrint{
        display: none;
    }
    .printOnly{
        display: initial;
    }
    main{
        overflow: hidden;
    }
    .toPrint{
        & *{
            visibility: visible;
        }
        &.document{
            margin: 0;
            min-height: 297mm;
            height: auto;
            // padding: 0;
            &.noa4{
                .footer{
                    position: relative;
                    bottom: 0;
                }
            }

            table tbody::after {
                content: ''; 
                display: block;
                page-break-after: always;
                page-break-inside: avoid;
                page-break-before: avoid;        
            }
            tr{
                // page-break-inside: avoid;
            }
        }
        position: fixed;
        margin: 0;
        padding: 0;
        left: 0;    
        top: 0;
        visibility: visible;
        width: 100%;

    }

}
@page{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }